.page {
  padding: var(--spacing-lg);
}

.back {
  margin-bottom: 60px;
  border: none;
  font-size: var(--font-size-md);
  color: var(--md-sys-color-primary);
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.back:hover {
  font-style: italic;
}

.container {
  display: flex;
  gap: var(--spacing-xl);
}

.card {
  padding: 20px;
  border-radius: var(--radius-lg);
  background: var(--md-sys-color-on-primary);
  box-shadow: var(--elevation-1);
  width: 50%;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.info {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  background: var(--md-sys-color-on-primary);
}

.category {
  color: var(--md-sys-color-primary);
  font-weight: 500;
}

.description {
  line-height: 1.6;
}

.meta {
  display: flex;
  gap: 20px;
  align-items: center;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: var(--md-sys-color-primary);
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.edit {
  background: var(--md-sys-color-primary);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.delete {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: var(--radius-md);
  cursor: pointer;
}