:root {    
    // --color-primary: #6750a4;
    // --color-secondary: #625b71;
    // --color-bg: #f6f6f6;
    // --radius: 8px;
    // --spacing: 16px;


    --font-family: "Roboto", sans-serif;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 28px;
    
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    
    --md-sys-color-primary: #6750a4;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-background: #fef7ff;
    --md-sys-color-surface: #ffffff;
    --md-sys-color-on-surface: #1c1b1f;
    --md-sys-color-error: #b3261e;
    --text-primary: #000;
    --text-secondary: #666;
    
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;

    --elevation-1: 0px 1px 2px rgba(0,0,0,0.15);
    --elevation-2: 0px 2px 6px rgba(0,0,0,0.2);
  }